header {
  background-color: $color-blue-100;
  .navbar {
    padding: 0 $pd-2;
    > a:first-child {
      padding: 0 $pd-4;
      border: none;
    }
  }
  #header__menu {
    .nav-link {
      color: $color-white;
      padding: $pd-3 $pd-4;
    }
  }
  a {
    color: $color-white;
    padding: $pd-3 $pd-4;
    text-decoration: none;
    border-right: $border-1;
    border-left: $border-1;
    font-size: $fs-1;
    i {
      margin-left: $mg-6;
    }
  }
}
.no-border {
  border: 0 !important;
}
