#vehicles {
  background-color: $color-blue-overlay;
  #vehicles-content {
    position: relative;
    z-index: 1;
    .vehicles-nav {
      background-color: $color-white;
      ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: $pd-3 0;
        li {
          display: inline;
          a {
            text-decoration: none;
            padding: $pd-1 $pd-4;
            @include formatText($color-dark-blue-300, $fw-bold, $fs-1);
            border-right: $border-2;
            &:hover {
              color: $color-blue-200;
            }
          }
        }

        .active {
          a {
            text-decoration: underline;
          }
        }
      }
    }
    .vehicles-close {
      background-color: $color-grey;
      width: $vehicles-cloes-width;
      text-align: center;
      position: absolute;
      top: 65px;
      right: 26px;
      padding: $pd-2 0;
      border-top-right-radius: $border-radius-1;
      border-bottom-right-radius: $border-radius-1;
      cursor: pointer;
      &:hover .vehicles-circle {
        border-color: $color-dark-blue-100;
      }
      &:hover .vehicles-circle i {
        color: $color-dark-blue-100;
      }

      &:hover p {
        color: $color-dark-blue-100;
      }
      .vehicles-circle {
        height: $vehicles-cloes-size;
        width: $vehicles-cloes-size;
        border: 1px solid $color-blue-100;
        border-radius: 50%;
        text-align: center;
        margin: auto;
        i {
          color: $color-blue-100;
          line-height: 23px;
          font-size: $fs-1;
        }
      }
      p {
        @include formatText($color-blue-100, $fw-bold, $fs-1);
        margin: 0;
      }
    }
    #vehicles-list {
      background-color: $color-grey;
      padding: $pd-6;
      padding-bottom: $pd-6 * 4;
      max-height: 700px;
      .vehicles-title {
        h1 {
          background-color: $color-grey;
          @include formatText($color-dark-blue-200, $fw-bold, $fs-4);
          padding: 0 $pd-1;
          position: relative;
          top: $mg-up-1;
          i {
            font-size: $fs-4 * 0.5;
            position: relative;
            top: $mg-up-2;
          }
          span {
            font-weight: normal;
          }
        }
      }

      .vehicles-product {
        margin-bottom: $mg-2 + 5px;
        &:hover > .vehicles-img img:last-child {
          display: block;
        }
        &:hover > .vehicles-img img:first-child {
          display: none;
        }
        .vehicles-img img:last-child {
          display: none;
        }
        .vehicles-img {
          height: 250px;
        }
        h2 {
          text-align: center;
          @include formatText($color-dark-blue-200, $fw-bold, $fs-2);
          margin-bottom: $mg-7;
        }
        .vehicles-info {
          display: flex;
          justify-content: space-around;
          margin-bottom: $mg-2;
          h3 {
            @include formatText($color-dark-blue-200, $fw-normal, $fs-4);
          }
          p {
            @include formatText($color-dark-blue-200, $fw-normal, $fs-1);
            margin-bottom: $mg-7;
          }
        }
        .vehicles-button {
          text-align: center;
        }
      }
    }
  }
  &.hide {
    display: none;
  }
}
.container--config {
  padding: 0 $pd-7;
}
