#vehicles-img-1 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicles-product:hover > #vehicles-img-1 {
  background: linear-gradient(#3c4c5c, #f6f6f6, #f6f6f6);
}

#vehicles-img-2 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicles-product:hover > #vehicles-img-2 {
  background: linear-gradient(#5e5e5e, #f6f6f6, #f6f6f6);
}

#vehicles-img-3 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicles-product:hover > #vehicles-img-3 {
  background: linear-gradient(#14409a, #f6f6f6, #f6f6f6);
}

#vehicles-img-4 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicles-product:hover > #vehicles-img-4 {
  background: linear-gradient(#c0bab5, #f6f6f6, #f6f6f6);
}

#vehicles-img-5 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicles-product:hover > #vehicles-img-5 {
  background: linear-gradient(#5c5c5c, #f6f6f6, #f6f6f6);
}

#vehicles-img-6 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicles-product:hover > #vehicles-img-6 {
  background: linear-gradient(#33569c, #f6f6f6, #f6f6f6);
}

body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 12px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
}

header .navbar {
  background-color: #007cc3;
  padding: 0 15px;
}

header .navbar > a:first-child {
  padding: 0 25px;
  border: none;
}

header .navbar a {
  color: #fff;
  padding: 20px 25px;
  text-decoration: none;
  border-right: 1px solid #4f91ca;
  border-left: 1px solid #4f91ca;
  font-size: 1.4rem;
}

header .navbar a i {
  margin-left: 15px;
}

header #header__menu .nav-link {
  color: #fff;
  padding: 20px 25px;
}

.no-border {
  border: 0 !important;
}

#vehicles {
  background-color: rgba(0, 67, 108, 0.8);
}

#vehicles #vehicles-content .vehicles-nav {
  background-color: #fff;
}

#vehicles #vehicles-content .vehicles-nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

#vehicles #vehicles-content .vehicles-nav ul li {
  display: inline;
}

#vehicles #vehicles-content .vehicles-nav ul li a {
  text-decoration: none;
  padding: 6px 25px;
  color: #06456a;
  font-size: 1.4rem;
  font-weight: bold;
  border-right: 0.2rem solid #e5e5e5;
}

#vehicles #vehicles-content .vehicles-nav ul li a:hover {
  color: #2198dc;
}

#vehicles #vehicles-content .vehicles-nav ul .active a {
  text-decoration: underline;
}

#vehicles #vehicles-content #vehicles-list {
  background-color: #f6f6f6;
  padding: 50px;
  padding-bottom: 200px;
  max-height: 700px;
}

#vehicles #vehicles-content #vehicles-list .vehicles-title h1 {
  background-color: #f6f6f6;
  color: #00324f;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 0 6px;
  position: relative;
  top: -2.7rem;
}

#vehicles #vehicles-content #vehicles-list .vehicles-title h1 i {
  font-size: 1.2rem;
  position: relative;
  top: -5px;
}

#vehicles #vehicles-content #vehicles-list .vehicles-title h1 span {
  font-weight: normal;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product {
  margin-bottom: 35px;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product:hover > .vehicles-img img:last-child {
  display: block;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product:hover > .vehicles-img img:first-child {
  display: none;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product .vehicles-img img:last-child {
  display: none;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product .vehicles-img {
  height: 250px;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product h2 {
  text-align: center;
  color: #00324f;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product .vehicles-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product .vehicles-info h3 {
  color: #00324f;
  font-size: 2.4rem;
  font-weight: normal;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product .vehicles-info p {
  color: #00324f;
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 5px;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product .vehicles-button {
  text-align: center;
}

.container--config {
  padding: 0 5%;
}

.btn-vehicles {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: #2198dc;
  color: #fff;
  padding: 6px 50px;
  transition: all 0.5s;
  font-weight: bold;
  font-size: 1.4rem;
  margin-right: 5px;
}

.btn-vehicles:hover {
  background-color: #fff;
  color: #2198dc;
}

.btn-vehicles-active {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: #fff;
  color: #2198dc;
  padding: 6px 50px;
  transition: all 0.5s;
  font-weight: bold;
  font-size: 1.4rem;
}

.btn-vehicles-active:hover {
  background-color: #2198dc;
  color: #fff;
}
