#vehicles-img-1 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicles-product:hover > #vehicles-img-1 {
  background: linear-gradient(#3c4c5c, #f6f6f6, #f6f6f6);
}

.vehicles-product-delay-1 {
  animation-delay: 0.2s;
}

#vehicles-img-2 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicles-product:hover > #vehicles-img-2 {
  background: linear-gradient(#5e5e5e, #f6f6f6, #f6f6f6);
}

.vehicles-product-delay-2 {
  animation-delay: 0.4s;
}

#vehicles-img-3 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicles-product:hover > #vehicles-img-3 {
  background: linear-gradient(#14409a, #f6f6f6, #f6f6f6);
}

.vehicles-product-delay-3 {
  animation-delay: 0.6s;
}

#vehicles-img-4 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicles-product:hover > #vehicles-img-4 {
  background: linear-gradient(#c0bab5, #f6f6f6, #f6f6f6);
}

.vehicles-product-delay-4 {
  animation-delay: 0.8s;
}

#vehicles-img-5 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicles-product:hover > #vehicles-img-5 {
  background: linear-gradient(#5c5c5c, #f6f6f6, #f6f6f6);
}

.vehicles-product-delay-5 {
  animation-delay: 1s;
}

#vehicles-img-6 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicles-product:hover > #vehicles-img-6 {
  background: linear-gradient(#33569c, #f6f6f6, #f6f6f6);
}

.vehicles-product-delay-6 {
  animation-delay: 1.2s;
}

body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 12px;
}

.animate__animated {
  animation-duration: 0.3s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header .navbar {
  background-color: #007cc3;
  padding: 0 15px;
}

header .navbar > a:first-child {
  padding: 0 25px;
  border: none;
}

header .navbar a {
  color: #fff;
  padding: 20px 25px;
  text-decoration: none;
  border-right: 1px solid #4f91ca;
  border-left: 1px solid #4f91ca;
  font-size: 1.4rem;
}

header .navbar a i {
  margin-left: 15px;
}

header .navbar #navbar-item-vehicles.active,
header .navbar #navbar-item-shoppingtools.active {
  background-color: #fff;
  color: #007cc3;
}

header #header__menu .nav-link {
  color: #fff;
  padding: 20px 25px;
}

.no-border {
  border: 0 !important;
}

#vehicles {
  background-color: rgba(0, 67, 108, 0.8);
}

#vehicles #vehicles-content {
  position: relative;
  z-index: 1;
}

#vehicles #vehicles-content .vehicles-nav {
  background-color: #fff;
}

#vehicles #vehicles-content .vehicles-nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

#vehicles #vehicles-content .vehicles-nav ul li {
  display: inline;
}

#vehicles #vehicles-content .vehicles-nav ul li a {
  text-decoration: none;
  padding: 6px 25px;
  color: #06456a;
  font-size: 1.4rem;
  font-weight: bold;
  border-right: 0.2rem solid #e5e5e5;
}

#vehicles #vehicles-content .vehicles-nav ul li a:hover {
  color: #2198dc;
}

#vehicles #vehicles-content .vehicles-nav ul .active a {
  text-decoration: underline;
}

#vehicles #vehicles-content .vehicles-close {
  background-color: #f6f6f6;
  width: 70px;
  text-align: center;
  position: absolute;
  top: 65px;
  right: 26px;
  padding: 15px 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

#vehicles #vehicles-content .vehicles-close:hover .vehicles-circle {
  border-color: #00446a;
}

#vehicles #vehicles-content .vehicles-close:hover .vehicles-circle i {
  color: #00446a;
}

#vehicles #vehicles-content .vehicles-close:hover p {
  color: #00446a;
}

#vehicles #vehicles-content .vehicles-close .vehicles-circle {
  height: 25px;
  width: 25px;
  border: 1px solid #007cc3;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}

#vehicles #vehicles-content .vehicles-close .vehicles-circle i {
  color: #007cc3;
  line-height: 23px;
  font-size: 1.4rem;
}

#vehicles #vehicles-content .vehicles-close p {
  color: #007cc3;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

#vehicles #vehicles-content #vehicles-list {
  background-color: #f6f6f6;
  padding: 50px;
  padding-bottom: 200px;
  max-height: 700px;
}

#vehicles #vehicles-content #vehicles-list .vehicles-title h1 {
  background-color: #f6f6f6;
  color: #00324f;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 0 6px;
  position: relative;
  top: -2.7rem;
}

#vehicles #vehicles-content #vehicles-list .vehicles-title h1 i {
  font-size: 1.2rem;
  position: relative;
  top: -5px;
}

#vehicles #vehicles-content #vehicles-list .vehicles-title h1 span {
  font-weight: normal;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product {
  margin-bottom: 35px;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product:hover > .vehicles-img img:last-child {
  display: block;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product:hover > .vehicles-img img:first-child {
  display: none;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product .vehicles-img img:last-child {
  display: none;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product .vehicles-img {
  height: 250px;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product h2 {
  text-align: center;
  color: #00324f;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product .vehicles-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product .vehicles-info h3 {
  color: #00324f;
  font-size: 2.4rem;
  font-weight: normal;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product .vehicles-info p {
  color: #00324f;
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 5px;
}

#vehicles #vehicles-content #vehicles-list .vehicles-product .vehicles-button {
  text-align: center;
}

#vehicles.hide {
  display: none;
}

.container--config {
  padding: 0 5%;
}

.btn-vehicles {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: #2198dc;
  color: #fff;
  padding: 6px 50px;
  transition: all 0.5s;
  font-weight: bold;
  font-size: 1.4rem;
  margin-right: 5px;
}

.btn-vehicles:hover {
  background-color: #fff;
  color: #2198dc;
}

.btn-vehicles-active {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: #fff;
  color: #2198dc;
  padding: 6px 50px;
  transition: all 0.5s;
  font-weight: bold;
  font-size: 1.4rem;
}

.btn-vehicles-active:hover {
  background-color: #2198dc;
  color: #fff;
}
